fastapi
uvicorn[standard]
twitchio==2.8.1
python-dotenv
scipy
pydub
sounddevice
numpy
requests
aiohttp
websockets
python-jose[cryptography]
python-multipart
pydantic-settings
httpx
f5-tts
soundfile
huggingface-hub
